:root {
    --Primary: #317eac;
    --input-padding-y: .75rem;
}

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

body {
    padding-top: 60px;
}

.color-preview {
    border: 1px solid #CCC;
    margin: 2px;
    zoom: 1;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
}

.rotate {
    --webkit-transform: rotate(90deg);
    --moz-transform: rotate(90deg);
    --o-transform: rotate(90deg);
    --ms-transform: rotate(90deg);
}

.Arial {
    font-family: "Arial";
}

.Helvetica {
    font-family: "Helvetica";
}

.MyriadPro {
    font-family: "Myriad Pro";
}

.Delicious {
    font-family: "Delicious";
}

.Verdana {
    font-family: "Verdana";
}

.Georgia {
    font-family: "Georgia";
}

.Courier {
    font-family: "Courier";
}

.ComicSansMS {
    font-family: "Comic Sans MS";
}

.Impact {
    font-family: "Impact";
}

.Monaco {
    font-family: "Monaco";
}

.Optima {
    font-family: "Optima";
}

.HoeflerText {
    font-family: "Hoefler Text";
}

.Plaster {
    font-family: "Plaster";
}

.Engagement {
    font-family: "Engagement";
}

.span7 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
}

.clearfix {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-append {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
    justify-content: center;
}

.input-text {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;

}


.button-text {
    background-color: var(--Primary); 
    border: none;
    margin-top: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }